<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znjf33.external.api.provider.mapper.SupplyChainLmjMapper">


    <select id="getZnjfExternalUserByUserIdAndUuid" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select ext_user_id as extUserId, user_id as userId from znjf_external_user z where z.ext_user_id=#{userId,jdbcType=DECIMAL}
        and z.loan_app_uuid=#{loanAppUuid,jdbcType=VARCHAR}
        and z.ext_user_type=1002 and z.ext_platform = 3000
    </select>

    <select id="getZnjfFundForSame" resultType="java.lang.Integer">
        select count(1) from znjf_fund z where z.order_no=#{loanDrawUuid,jdbcType=VARCHAR}
    </select>

    <select id="countUserByUserInfo" resultType="java.lang.Integer">
        select count(1) from rd_user where user_id = #{userId,jdbcType=DECIMAL}
    </select>

    <select id="getCreditAmountByUserId" resultType="java.lang.Double">
        select r.credit_amount as creditAmount from rd_user_cache r where r.user_id=#{userId,jdbcType=DECIMAL}
    </select>

    <!-- 保存支用申请主信息 -->
    <insert id="saveApplyLoan" parameterType="com.znjf33.external.api.provider.domain.SupplyChainLmjParamDO">
        insert into znjf_fund (
	    deal_no,order_no,amount,amount_applied,days_applied,duration,buyer_id,fund_status,
	    money_status,process_status,repayment_date_applied,add_time,consignee,consignee_phone,
	    consignee_address,loan_draw_time,channel_from)
	    VALUES (
          #{dealNo,jdbcType=VARCHAR},
          #{loanDrawUuid,jdbcType=VARCHAR},
          #{drawAmount,jdbcType=DECIMAL},
          #{drawAmount,jdbcType=DECIMAL},
          0,
          #{duration,jdbcType=DECIMAL},
          #{userId,jdbcType=DECIMAL},
          #{fundStatus,jdbcType=DECIMAL},
          #{moneyStatus,jdbcType=DECIMAL},
          #{processStatus,jdbcType=DECIMAL},
          #{repaymentDateApplied,jdbcType=TIMESTAMP},
          now(),
          #{consignee,jdbcType=VARCHAR},
          #{consigneePhone,jdbcType=VARCHAR},
          #{consigneeAddress,jdbcType=VARCHAR},
          #{loanDrawDate,jdbcType=TIMESTAMP},
          #{channelFrom,jdbcType=DECIMAL}
	    )
    </insert>


    <!-- 保存支用申请附表信息-->
    <insert id="saveApplyLoanAttachment" parameterType="java.util.List" useGeneratedKeys="false">
        insert into znjf_fund_attachment(
        deal_no,
        order_no,
        goods_name,
        goods_number,
        add_time
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dealNo,jdbcType=VARCHAR},
            #{item.orderNo,jdbcType=VARCHAR},
            #{item.goodsName,jdbcType=VARCHAR},
            #{item.goodsNumber,jdbcType=DECIMAL},
            now()
            )
        </foreach>
    </insert>

    <select id="getUsedCreditAmount" resultType="java.lang.Double">
        select IFNULL(sum(amount_applied),0) from znjf_fund where channel_from = 1
        and fund_status!=4
        and fund_status!=-1
        and buyer_id = #{userId,jdbcType=DECIMAL}
    </select>

    <select id="getZnjfFundByUserId" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select r.borrow_id as borrowId,f.id as fundId from znjf_fund f
        inner join znjf_fund_borrow_rel r on r.fund_id = f.id
        where f.channel_from = 1 and f.money_status=0 and f.buyer_id = #{userId,jdbcType=DECIMAL}
        and f.order_no =  #{loanDrawUuid,jdbcType=VARCHAR}
    </select>

    <select id="getUserInfo" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
      select u.user_id as userId, r.mobile_phone as mobilePhone,u.frdb_name as frdbName,r.real_name as realName from znjf_external_user e
      inner join rd_user_cache u on u.user_id = e.user_id
      inner join rd_user r on r.user_id = u.org_operator
      where e.loan_app_uuid=#{loanAppUuid,jdbcType=VARCHAR}
      and e.ext_user_type = 1002 and e.ext_platform = 3000 and e.review_status = 1001
    </select>

    <select id="getFundExist" resultType="java.lang.Integer">
        select count(1) from znjf_fund where order_no = #{loanDrawUuid,jdbcType=VARCHAR} and buyer_id = #{userId,jdbcType=DECIMAL}
        and channel_from  = 1
    </select>

    <update id="updateBorrowRepayment">
        update rd_borrow_repayment r
        set repayment_no = #{repaymentNo,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=DECIMAL}
        and borrow_id = #{borrowId,jdbcType=DECIMAL}
    </update>

    <update id="updateBorrowRepaymentStatus">
        update rd_borrow_repayment r
        set r.status = 3
        where user_id = #{userId,jdbcType=DECIMAL}
        and borrow_id = #{borrowId,jdbcType=DECIMAL}
    </update>

    <update id="updateZnjfFundRepayStatus">
        update znjf_fund
        set fund_status = #{fundStatus,jdbcType=DECIMAL},
        repayment_date_applied = now()
        where buyer_id = #{userId,jdbcType=DECIMAL}
        and order_no = #{loanDrawUuid,jdbcType=VARCHAR}
    </update>

    <update id="updateZnjfFundStatus">
        update znjf_fund
        set fund_status = #{fundStatus,jdbcType=DECIMAL},
        loan_agreement = #{loanAgreement,jdbcType=VARCHAR}
        where buyer_id = #{userId,jdbcType=DECIMAL}
        and order_no = #{loanDrawUuid,jdbcType=VARCHAR}
        AND channel_from = #{channelFrom, jdbcType=DECIMAL}
    </update>

    <select id="countFundsToday" resultType="java.lang.Integer">
        SELECT count(1) FROM znjf_fund f
        WHERE f.buyer_id = #{userId, jdbcType=DECIMAL}
        AND f.channel_from = #{channelFrom, jdbcType=DECIMAL}
        AND f.add_time &gt;= curdate()
        AND f.fund_status = #{fundStatus,jdbcType=DECIMAL}
    </select>

    <select id="getZnfFundByOrderNo"  resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        SELECT f.amount_applied as amountApplied , f.duration as duration FROM znjf_fund f
        WHERE f.buyer_id = #{userId, jdbcType=DECIMAL}
        AND f.channel_from = #{channelFrom, jdbcType=DECIMAL}
        AND f.order_no = #{loanDrawUuid,jdbcType=VARCHAR}
    </select>

    <update id="updateZnjfFundProcessStatus">
        update znjf_fund
        set process_status = #{processStatus,jdbcType=DECIMAL}
        where buyer_id = #{userId,jdbcType=DECIMAL}
        and order_no = #{loanDrawUuid,jdbcType=VARCHAR}
        AND channel_from = #{channelFrom, jdbcType=DECIMAL}
    </update>

    <!-- 更新 znjf_lemuji_pay 支付状态 -->
    <update id="updateZnjfLemujiPayStatus">
        update znjf_lemuji_pay
        set pay_status = #{payStatus,jdbcType=DECIMAL},
        fail_msg = #{payMsg,jdbcType=VARCHAR},
        version = version +1,
        retry_num = retry_num +1,
        update_time = now()
        where order_no = #{orderNo,jdbcType=VARCHAR}
    </update>

    <select id="getZnjfExternalUserByUserId" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select ext_merchants as extMerchants,loan_app_uuid as loanAppUuid from znjf_external_user z where z.user_id=#{userId,jdbcType=DECIMAL}
        and z.ext_user_type=1002 and z.ext_platform = 3000
    </select>

    <select id="getZnjfLemujiPayByOrderId" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select loan_draw_uuid as loanDrawUuid,user_id as userId,
        retry_num as retryNum,
        transaction_amount as transactionAmount
        from znjf_lemuji_pay z where z.order_no=#{orderNo,jdbcType=VARCHAR}
    </select>

    <select id="getZnjfLemujiPayByUuid" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select transaction_amount as transactionAmount,user_id as userId
        from znjf_lemuji_pay z where z.loan_draw_uuid=#{loanDrawUuid,jdbcType=VARCHAR}
        and z.transaction_type = 1
    </select>

    <!-- 保存支付信息表-->
    <insert id="saveZnjfLemujiPay" parameterType="com.znjf33.external.api.provider.domain.LemujiPayDo" >
        insert into znjf_lemuji_pay(
        order_no,
        transaction_no,
        payee_account_name,
        payee_account_no,
        payee_merchant_no,
        transaction_amount,
        transaction_type,
        pay_status,
        transaction_desc,
        loan_draw_uuid,
        user_id,
        transaction_time
        )
        values
        (
            #{orderNo,jdbcType=VARCHAR},
            #{transactionNo,jdbcType=VARCHAR},
            #{payeeAccountName,jdbcType=VARCHAR},
            #{payeeAccountNo,jdbcType=VARCHAR},
            #{payeeMerchantNo,jdbcType=VARCHAR},
            #{transactionAmount,jdbcType=DECIMAL},
            #{transactionType,jdbcType=DECIMAL},
            #{payStatus,jdbcType=DECIMAL},
            #{transactionDesc,jdbcType=VARCHAR},
            #{loanDrawUuid,jdbcType=VARCHAR},
            #{userId,jdbcType=DECIMAL},
            #{transactionTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getRepaymentInfo" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select r.repayment_account as repaymentAccount,r.repayment_time as repaymentTime,
        r.capital as capital,r.manage_fee as manageFee,r.interest as interest
        from znjf_fund f
        inner join znjf_fund_borrow_rel b on b.fund_id = f.id
        inner join rd_borrow_repayment r on r.borrow_id = b.borrow_id
        where f.order_no=#{orderNo,jdbcType=VARCHAR}
        and f.channel_from = 1
    </select>

    <!-- 更新授信系统 -->
    <update id="updateZnjfCreditLines">
        update znjf_credit_lines
        set credit_line = #{creditLine,jdbcType=DECIMAL},
        use_line = #{useLine,jdbcType=DECIMAL}
        where user_id = #{userId,jdbcType=DECIMAL}
        and credit_from = #{creditFrom,jdbcType=DECIMAL}
    </update>

    <select id="getZnjfExternalUserByExtUserId" resultType="com.znjf33.external.api.provider.domain.SupplyChainLmjResultDO">
        select user_id as userId from znjf_external_user z where z.ext_user_id=#{extUserId,jdbcType=DECIMAL}
        and z.ext_user_type=1002 and z.ext_platform = 3000
    </select>

    <select id="queryUseLinesByUserId" resultType="java.lang.Double">
        select r.use_line from znjf_credit_lines r where r.user_id=#{userId,jdbcType=DECIMAL}
        and r.credit_from = 1
    </select>

    <select id="queryDateLimitByUserId" resultType="java.lang.Integer">
        select count(1) from znjf_credit_lines r where r.user_id=#{userId,jdbcType=DECIMAL}
        and r.credit_from = 1
        and now() >= r.credit_begin_date
        and r.credit_end_date > now()
    </select>
</mapper>