<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znjf33.external.api.provider.mapper.ZnjfExceptionRecordMapper" >
  <update id="updateByPrimaryKey" parameterType="java.lang.Integer" >
    update znjf_exception_record
    set status = #{status,jdbcType=INTEGER},
    where id = #{id,jdbcType=BIGINT}
  </update>

 <!-- 查询在线充值当天超过30分钟异常数据 -->
  <select id="queryAccountRechargeException" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select r.trade_no as tradeNo,r.user_id as userId,r.return_msg as msg from rd_account_recharge r
    where r.`status`=0
    and r.update_time &lt; date_add(now(),interval -30 minute)
  </select>

  <!-- 保存异常信息表-->
  <insert id="saveZnjfExceptionRecord" parameterType="java.util.List" useGeneratedKeys="false">
    insert into znjf_exception_record
    (trade_no, channel_type,status, user_id, msg,
    add_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.tradeNo,jdbcType=VARCHAR},
      #{item.channelType,jdbcType=VARCHAR},
      #{item.status,jdbcType=VARCHAR},
      #{item.userId,jdbcType=DECIMAL},
      #{item.msg,jdbcType=DECIMAL},
      now()
      )
    </foreach>
  </insert>

  <!-- 查询提现当天超过30分钟异常数据 -->
  <select id="queryAccountCashException" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select order_no as tradeNo,user_id as userId from rd_account_cash
    where status=0 and add_time &lt; date_add(now(),interval -30 minute)
  </select>

  <!-- 查询还款回调异常数据 -->
  <select id="queryAccountRePayException" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select b.uuid as tradeNo,r.user_id as userId from rd_borrow_repayment r
    inner join rd_borrow b on b.id = r.borrow_id
    where r.status=6 and  r.update_time &lt; date_add(now(),interval -30 minute)
  </select>

  <!-- 查询放款回调异常数据 -->
  <select id="queryVerifyFullException" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select r.uuid as tradeNo,r.user_id as userId from rd_borrow r
    where r.status=3 and  r.update_time &lt; date_add(now(),interval -30 minute)
  </select>

  <!-- 查询转让回调异常数据 -->
  <select id="queryBondException" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select r.uuid as tradeNo,r.creditor as userId from znjf_bond r
    where (r.bond_status=6 or r.verify_status = 2) and r.update_time &lt; date_add(now(),interval -30 minute)
  </select>

  <!-- 查询待处理的异常表数据 -->
  <select id="queryByPrimaryKey" resultType="com.znjf33.external.api.provider.domain.ZnjfExceptionRecordResultDO" >
    select id, trade_no as tradeNo, status, add_time as addTime
    from znjf_exception_record
    where status = 0
  </select>


</mapper>